.content {
	color: #333;
	width: 960px;
	max-width: 90%;
	margin: 0 auto;
	font-family: sans-serif;
}

ul {
	padding: 0;
}

li {
	list-style: none;
}

h1 {
	text-align: center;
}

.btn {
	cursor: pointer;
	padding: 10px;
	border: 0;
	border-radius: 2px;
	font-size: 22px;
	width: 25.5%;
	box-sizing: border-box;
}

.btn-primary {
	color: #4285f4;
	background-color: #FFF;
	border: 2px solid #4285f4;
	transition: 0.2s;
}

.btn-primary:hover {
	color: #FFF;
	background-color: #4285f4;
}

.form input {
	padding: 10px;
	font-size: 22px;
	border: 1px solid #E4E4E4;
	border-radius: 2px;
	width: 74%;
	box-sizing: border-box;
}

.form input:focus {
	box-shadow: 0 0 0 1px #4285f4;
}

.setlist-style {
	padding: 0;
	list-style-position: inside;
}

.setlist-style li {
	padding: 10px;
	font-size: 30px;
	border-radius: 2px;
	list-style: inherit;
	position: relative;
	transition: 0.2s;
}

.setlist-style li:hover {
	background-color: #FBFBFB;
}

.setlist-style li button.rm {
	display: none;
    position: absolute;
	cursor: pointer;
    color: #EA4335;
	background-color: #FBFBFB;
    border: 1px solid #EA4335;
    font-size: 20px;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 2px;
    right: 10px;
    top: 10px;
	transition: 0.2s;
}

.setlist-style li button.rm:hover {
    color: #FFF;
    background: #EA4335;
}

.setlist-style li:hover button.rm {
	display: block;
}

@media print {

	.form {
		display: none;
	}

	#musicList {
		display: block;
	}
	
}